@font-face {
  font-family: CaveatMedium;
  src: url(../assets/fonts/Caveat-Regular.ttf);
}

@font-face {
  font-family: CaveatMedium;
  src: url(../assets/fonts/Caveat-Medium.ttf);
}

@font-face {
  font-family: CaveatSemiBold;
  src: url(../assets/fonts/Caveat-SemiBold.ttf);
}

@font-face {
  font-family: CaveatBold;
  src: url(../assets/fonts/Caveat-Bold.ttf);
}
