@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #1a202c;
}

.home {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Caveat", cursive;
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: 18px;
  justify-content: center;
  text-align: center;
  height: 100vh;
  padding-left: calc((100% - 820px) / 2);
  padding-right: calc((100% - 820px) / 2);
}

.name {
  font-size: 60px;
}
.title {
  font-size: 36px;
}

svg {
  width: 100px;
  color: #939aac;
  fill: #939aac;
}

.title-text {
  color: #939aac;
  font-size: 1.5rem;
  letter-spacing: 1px;
}

.quote {
  padding: 1rem;
  background: hsla(0, 0%, 100%, 0.07);
  border-radius: 0.5rem;
  color: #939aac;
  font-size: 1.2rem;
  letter-spacing: 1px;
  margin-top: 1rem;
  font-family: "Poppins", sans-serif;

  footer {
    font-family: "Poppins", sans-serif;
  }
}

.social-icon {
  display: flex;
  color: #939aac;
  font-size: 1.2rem;
  letter-spacing: 1px;
  margin-top: 1rem;
  justify-content: center;
  .github-icon {
    font-family: "Poppins", sans-serif;
    padding-right: 0.8rem;
    border-right: 1px solid #939aac;
  }
  .linkedln-icon {
    font-family: "Poppins", sans-serif;
    padding-left: 0.8rem;
    border-left: 1px solid #939aac;
  }
  .resume-btn {
    font-family: "Poppins", sans-serif;
    padding-left: 0.8rem;
    margin-left: 0.8rem;
    border-left: 2px solid #939aac;
  }
}

a {
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  color: #707992;
}

a:hover {
  color: #435a97;
}

.blink {
  fill: none;
  stroke: #608af6;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
  -webkit-animation: anim 1s 0.5s infinite;
  animation: anim 1s 0.5s infinite;
  transform-box: fill-box;
  transform-origin: center;
  animation-delay: 0.5s;
}

@keyframes anim {
  0%,
  100% {
    transform: scale(0.2);
  }
  50% {
    transform: scale(1);
  }
}

@media screen and (max-width: 500px) {
  .title-text {
    font-size: 1.3rem;
    letter-spacing: 1px;
  }

  .social-icon {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 270px) {
  .social-icon {
    display: block;
    .github-icon {
      padding-right: 0;
      border-right: none;
      padding-bottom: 0.5rem;
    }

    .linkedln-icon {
      padding-left: 0;
      border-left: none;
    }
  }
}

svg {
  enable-background: new 0 0 32 32;
}

.st0 {
  fill: none;
  stroke: #939aac;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}
.st1 {
  fill: none;
  stroke: #939aac;
  stroke-width: 2;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}

.not-found {
  p {
    font-size: 10rem;
    color: #516bb3;
    font-weight: 900;
    font-family: "Caveat", cursive;
  }
  a {
    color: #ffffff;
    background-color: #516bb3;
    padding: 0.4rem;
    border-radius: 0.4rem;
    margin-left: 2rem;
  }
}

.content-wrap {
  color: #939aac;
  margin: 0 auto;
  padding: 20px 0;
}

@media screen and (max-width: 749px) {
  h1 {
    font-size: 74px;
    line-height: 0.8;
    margin-bottom: 20px;
  }

  h2 {
    line-height: 1;
  }
}

.resume {
  display: grid;
  place-items: center;
  margin-top: 1rem;
}

.download-btn {
  border: none;
  cursor: pointer;
  font-size: 1.1rem;
  padding: 0.2rem 0.4rem;
  margin-bottom: 0.4rem;
  border-radius: 0.2rem;
  font-family: "Poppins", sans-serif;
}

.download-btn:hover {
  background-color: #435a97;
  color: #fff;
}
